@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Blaka&family=Cinzel:wght@400;500;600;700;800;900&family=Indie+Flower&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=VT323&display=swap');

body {
    background-color: #cff5f5;
    text-align: center;
    font-size: 22px;
}

h1 {
    font-size: 70px;
    font-family: 'Blaka', fantasy;
    text-shadow: 4px 4px 0 #c5c3c3;
    letter-spacing: 5px;
}

h2 {
    font-size: 35px;
    text-decoration: underline;
}

.cinzel {
    font-family: 'Cinzel', serif;
    font-size: 120%;
    color: #252424;
}

#cinzelh2 {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    color: #252424;
}

.josefin {
    font-family: 'Josefin Sans', sans-serif;
    color: red;
}

.audiowide {
    font-family: 'Audiowide', fantasy;
    color: #5d5dd8;
}

.indie {
    font-family: 'Indie Flower', cursive;
    font-size: 26px;
    color: green;
}

#indieh2 {
    font-family: 'Indie Flower', cursive;
    font-size: 43px;
    color: green;
}

.vt323 {
    font-family: 'VT323', monospace;
    font-size: 35px;
}

#vt323h2 {
    font-family: 'VT323', monospace;
    font-size: 45px;
}

.copy {
    font-size: 16px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}